.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  min-width: 290px;
  max-width: 290px;
  text-align: justify;
  text-decoration: none;
  color: black;
}

/* .container:hover {
  background-color: bisque;
} */

.container h2 {
  font-size: 30px;
  margin: 0;
  font-weight: 500;
}

.container p {
  margin: 0;
  font-size: 20px;
}

.icon-container {
  padding-block: 50px;
  display: flex;
  justify-content: center;
}
